<div class="row">
    <div class="col-md-8">
        Please see <a href="http://ozkary.com">ozkary.com</a> for more information on these samples
        <p>
            <h2>About this solution </h2>
            <hr />
            This solution contains sample projects to show some techniques and new technologies.
        </p>

        <p>
            <h2> License/Disclaimer   </h2>
            <hr />
            The samples are provided AS IS without warranty of any kind. The author disclaims all implied warranties including,
            without limitation, any implied warranties of merchantability or of fitness for a particular purpose.
            The entire risk arising out of the use of the samples and documentation remains with you. In no event
            shall the autor,  or anyone else involved in the creation, production, or delivery of the scripts be
            liable for any damages whatsoever (including, without limitation, damages for loss of business profits,
            business interruption, loss of business information, or other pecuniary loss) arising out of the use of
            or inability to use the sample scripts or documentation, even if the authos has been advised of the
            possibility of such damages.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get help</h2>
        <ul>
            <li><a href="http://ozkary.com" target="_blank">Get help</a></li>
        </ul>
    </div>
    </div>


